<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DesktopCalendar</string>
    <key>CFBundleDisplayName</key>
    <string>DesktopCalendar</string>
    <key>CFBundleIdentifier</key>
    <string>com.naoki.DesktopCalendar</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>DesktopCalendar</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>カレンダーの予定をデスクトップ上に表示するためにアクセス権が必要です。</string>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>リマインダー・ToDoタスクをデスクトップ上に表示するためにアクセス権が必要です。</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>現在地の正確な天気予報を表示するために位置情報を使用します。</string>
    <key>NSLocationUsageDescription</key>
    <string>現在地の正確な天気予報を表示するために位置情報を使用します。</string>
</dict>
</plist>
